<div class="jumbotron">
	<h1>PPM Tasks API</h1>
	<div class="btn-toolbar">
		<div class="btn-group"><%= button_to "Project Tasks", project_tasks_path, :id => "btn-project-tasks",
	      :class => "btn btn-primary btn-lg", :method => :get %></div>
		<div class="btn-group"><%= button_to "Todo Tasks", todo_tasks_path, :id => "btn-todo-tasks",
	      :class => "btn btn-primary btn-lg", :method => :get %></div>
	</div>
	<hr>
	<div class="panel panel-default">
		<div class="panel-body">
		   <p><blockquote><a href="../api/projecttasks">/api/projecttasks</a></blockquote></p>
		   <p><blockquote><a href="../api/todotasks">/api/todotasks</a></blockquote></p>
		   <p><blockquote><a href="../api/projecttasks_auth">/api/projecttasks_auth</a></blockquote></p>
		   <p><blockquote><a href="../api/todotasks_auth">/api/todotasks_auth</a></blockquote></p>
		</div>
	</div>
</div>
