<div class="jumbotron">
	<h1>PPM Tasks API</h1>
	<div class="btn-toolbar">
		<div class="btn-group"><%= button_to "Project Tasks", project_tasks_path, :id => "btn-project-tasks",
	      :class => "btn btn-primary btn-lg", :method => :get %></div>
		<div class="btn-group"><%= button_to "Todo Tasks", project_tasks_path, :id => "btn-todo-tasks",
	      :class => "btn btn-primary btn-lg", :method => :get %></div>
	</div>
</div>
